<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0-preview.2.24128.5" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0-preview.2.24128.5" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0-preview.2.24128.5" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0-preview.2.24128.5" targetFramework="net462" />
  <package id="Serilog" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Extensions.Hosting" version="8.0.0" targetFramework="net462" />
  <package id="Serilog.Extensions.Logging" version="8.0.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="2.0.0" targetFramework="net462" />
  <package id="Serilog.Settings.Configuration" version="8.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="5.0.1" targetFramework="net462" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="4.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Seq" version="7.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net462" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>